body {
  font-style: normal;
  color: black;
}

section {
  max-width: 300px;
  
  margin: 0 auto;
  transition: 0.4s ease-in-out;
}

main {
  overflow: hidden;

  & > * > * {
    color: black;
  }
}

.hide {
  animation: fade-out 1s ease-in-out forwards !important;

  @keyframes fade-out {
    100% {
      opacity: 0;
    }
  }
}

.disabled {
  display: none;
}

.container {
  margin: 0 auto;
}

.svg-icon {
  width: 100%;
  height: 100%;

  fill: currentColor;
}

img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}
