// Media
$m-xxxxs: "min-width: 320px";
$m-xxxsa: "min-width: 360px";
$m-xxxs: "min-width: 375px";
$m-xxs: "min-width: 411px";
$m-xs: "min-width: 568px";
$m-s: "min-width: 768px";
$m-m: "min-width: 992px";
$m-mm: "min-width: 1024px";
$m-l: "min-width: 1280px";
$m-xl: "min-width: 1440px";
$m-xxl: "min-width: 1600px";
$m-xxxl: "min-width: 1720px";
$m-xxxlh: "min-height: 1080px";
$m-2k: "min-width: 2500px";
$m-4k: "min-width: 3800px";

$ma-xxs: "max-width: 376px";
$ma-xs: "max-width: 567px";
$ma-s: "max-width: 767px";
$ma-m: "max-width: 991px";
$ma-l: "max-width: 1279px";
$ma-xl: "max-width: 1439px";
$ma-xxl: "max-width: 1599px";

// Colors
$c-black: #000000;
$c-white: #ffffff;


// Fonts
// $SFPD: 'SF Pro Display', Arial, sans-serif;

// Gradients

html,
body {
  background: $c-white;
}
