.about {
  position: relative;
  padding-top: 40px;
  font-family: $Futura;

  &__subheadline {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $c-fontcolor;
  }

  &__headline {
    font-size: 2rem;
    text-transform: uppercase;
    color: $c-green;
  }

  &__logo {
    margin: 0 auto;
    width: 150px;
  }
}
