.composition {
  padding: 20px 0;
  height: 600px;

  font-family: $Franklin;

  @media ($m-xxxxs) and (orientation: landscape) {
    max-width: 500px;
    margin: 0 auto;
  }

  @media ($m-m) {
    max-width: 768px;
  }

  @media ($m-l) {
    height: 800px;
    padding: 100px 0;
  }

  @media ($m-xxl) {
    max-width: 1538.4px;
    height: 1000px;
  }

  &-inner {
    position: relative;
  }

  &__layer {
    position: relative;

    &:nth-child(1) {
      z-index: 4;
    }

    &:nth-child(2) {
      z-index: 3;
    }

    &:nth-child(3) {
      z-index: 2;
    }
  }

  &__item {
    position: absolute;

    // package
    &--lavander {
      top: 235px;
      left: 8.75%;

      width: 195px;
      height: 265px;
      transform: rotateZ(-35deg);

      @media ($m-s) {
        top: 155px;
        left: 170px;

        width: 285px;
        height: 355px;
      }

      @media ($m-xxl) {
        top: 168.66px;
        right: 44.3%;
        left: 25.02%;

        width: 472px;
        height: 644px;
      }
    }

    &--cyan {
      top: 194px;
      left: 48.75%;

      width: 123px;
      height: 176px;

      @media ($m-s) {
        top: 144px;
        left: 400px;

        width: 193px;
        height: 266px;
      }

      @media ($m-xxl) {
        top: 134.66px;
        left: 52.19%;
        right: 24.54%;

        width: 358px;
        height: 510px;
      }
    }

    &--lime {
      top: 72px;
      left: 27.19%;

      width: 139px;
      height: 132px;

      transform: rotateZ(-28deg);
      filter: blur(0.5px);

      @media ($m-s) {
        top: 22px;
        left: 290px;

        width: 159px;
        height: 212px;
      }

      @media ($m-xxl) {
        left: 34.51%;
        right: 44.3%;
        top: 10.66px;

        width: 326px;
        height: 311px;
      }
    }

    // description
    &-container {
      position: relative;
    }

    &-inner {
      position: absolute;
      display: flex;

      & > p {
        font-size: 12px;

        @media ($m-s) {
          font-size: 18px;
        }
      }

      &--dandelion {
        top: 22px;
        left: 28px;

        width: 144px;
        height: 78px;

        & > img {
          width: 74.18px;
          height: 78px;

          transform: matrix(1, -0, -0, -1, 0, 0);
        }

        & > p {
          margin-left: 5px;
        }

        @media ($m-s) {
          top: 372px;
          left: 508px;

          align-items: flex-end;

          & > img {
            width: 94.18px;

            transform: none;
          }

          & > p {
            margin-bottom: 5px;
          }
        }

        @media ($m-xxl) {
          top: 490.66px;
          left: 1112.95px;

          width: 300.46px;
          height: 184px;

          & > img {
            width: 213px;
            height: 184px;
          }

          & > p {
            margin-bottom: 18px;
          }
        }
      }

      &--calendula {
        top: 452px;
        left: 40px;

        width: 218px;
        height: 96.45px;

        align-items: flex-end;

        @media ($m-s) {
          top: 110px;
          left: 30px;

          align-items: flex-start;

          & > p {
            margin-top: -10px;
          }
        }

        @media ($m-m) {
          & > p > br {
            display: none;
          }
        }

        @media ($m-xxl) {
          top: 96.66px;
          left: 0px;

          height: 204.03px;
          width: 440px;
        }

        & > img {
          width: 131.71px;
          height: 96.45px;

          transform: matrix(1, 0, 0, -1, 0, 0);

          @media ($m-s) {
            width: 150px;
            height: 120px;
            transform: none;
          }

          @media ($m-xxl) {
            width: 226px;
            height: 195px;
          }
        }
      }

      &--rosemary {
        top: 367px;
        left: 161px;

        width: 128.21px;
        height: 70.65px;

        align-items: center;

        & > img {
          width: 71px;
          height: 65px;
        }

        & > p {
          margin-top: 10px;
          margin-left: 2px;
        }

        @media ($m-s) {
          top: 207px;
          left: 531px;

          width: 218.21px;
          height: 110.65px;

          & > img {
            width: 141px;
            height: 105px;
          }

          & > p {
            margin-top: 30px;
          }
        }

        @media ($m-xxl) {
          top: 194.66px;
          left: 1203.95px;

          width: 334.45px;
          height: 199px;

          & > img {
            width: 251px;
            height: 199px;
          }

          & > p {
            margin-top: 60px;
          }
        }
      }

      &--mint {
        top: 130px;
        left: 37px;

        width: 136px;
        height: 74px;

        align-items: flex-end;

        & > img {
          width: 106px;
          height: 74px;
        }

        & > p {
          margin-right: -15px;
        }

        @media ($m-s) {
          top: 360px;
          left: 77px;

          width: 186px;
          height: 134px;

          & > img {
            width: 176px;
            height: 134px;
          }

          & > p {
            margin-bottom: 10px;
          }
        }

        @media ($m-xxl) {
          left: 118.95px;
          top: 485.66px;

          width: 442px;
          height: 312px;

          & > img {
            width: 442px;
            height: 312px;
          }

          & > p {
            margin-right: -60px;
            margin-bottom: 35px;
          }
        }

        &-leaf {
          top: 282px;
          left: 161px;

          width: 43px;
          height: 38px;

          @media ($m-s) {
            top: 282px;
            left: 381px;

            width: 63px;
            height: 48px;
          }

          @media ($m-xxl) {
            top: 372.66px;
            right: 42.93%;
            left: 51.28%;

            width: 89px;
            height: 78px;
          }
        }
      }

      &--chamomile {
        top: 70px;
        left: 173px;

        width: 119.5px;
        height: 52.66px;

        & > img {
          width: 67.5px;
          height: 51.34px;

          transform: matrix(-1, 0, 0, 1, 0, 0);
        }

        & > p {
          margin-bottom: 20px;
          margin-top: -15px;
          margin-right: 5px;
        }

        @media ($m-s) {
          top: 80px;
          left: 475px;

          & > img {
            width: 107.5px;
            height: 81.34px;

            transform: none;
          }

          & > p {
            order: 2;
            margin-left: 10px;
          }
        }

        @media ($m-xxl) {
          top: 0px;
          left: 920.95px;

          width: 380px;
          height: 151.66px;

          & > img {
            width: 204px;
            height: 143px;
          }

          & > p {
            & > br {
              display: none;
            }
          }
        }

        &-blured {
          top: 248px;
          left: 68.12%;

          width: 104px;
          height: 106px;

          @media ($m-s) {
            top: 250px;
            left: 90px;

            width: 84px;
            height: 86px;
          }

          @media ($m-xxl) {
            top: 332.66px;
            left: 9.49%;
            right: 83.75%;

            width: 104px;
            height: 106px;
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .composition__layer {
    animation: move 10s ease-in-out infinite;

    &:nth-child(1) {
      animation-delay: 0s;
    }

    &:nth-child(2) {
      animation-delay: 2s;
    }

    &:nth-child(3) {
      animation-delay: 2.5s;
    }

    &:nth-child(4) {
      animation-delay: 3s;
    }

    @keyframes move {
      0% {
        transform: translate3d(0px, 0px, 0);
      }

      50% {
        transform: translate3d(0px, -20px, 0);
      }

      100% {
        transform: translate3d(0px, 0px, 0);
      }
    }
  }
}
